@model UpdateTestimonialDTO
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-default rounded h-100 p-4">
                <h6 class="mb-4 text-white">Referans Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="TestimonialID" />

                    <div class="mb-3">
                        <label class="form-label text-white">Ad Soyad</label>
                        <input type="text" asp-for="NameSurname" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">Başlık</label>
                        <input type="text" asp-for="Title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">Yorum</label>
                        <input type="text" asp-for="Commet" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-white">Durum</label>
                        <select asp-for="Status" class="form-control">
                            <option value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">Görsel</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success">Referansı Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>


