@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    @await Component.InvokeAsync("_DefaultHeadPartials")
</head>

<body>

    @await Component.InvokeAsync("_DefaultNavBarPartials")

    @RenderBody()
    @await Component.InvokeAsync("_DefaultFooterPartials")
    @await Component.InvokeAsync("_DefaultScriptPartials")
</body>

</html>
