@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @await Component.InvokeAsync("_LayoutHeaderPartials")
</head>
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutNavBarPartials")
        @await Component.InvokeAsync("_LayoutSideBarPartials")
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Component.InvokeAsync("_LayoutFooterPartials")
        </div>

    </div>

</body>
@await Component.InvokeAsync("_LayoutScriptPartials")
</html>
