@model UpdateCategoryDTO
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-default rounded h-100 p-4">
                <h6 class="mb-4 text-white">Kategori Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="CategoryID" />

                    <div class="mb-3">
                        <label class="form-label text-white">Kategori Adı</label>
                        <input type="text" asp-for="CategoryName" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-white">Durum</label>
                        <select asp-for="Status" class="form-control">
                            <option value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Kategori Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
